
header{
    background-color: pink;
    text-align: left;
}

#header{
    padding: 5px;
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
}


main{
    padding: 5px;
    width: 100%;
    height: 80%;
    background-color: ivory;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color: black;
    text-decoration-line: none;
}

#div{
    float: center; 
    width: 100%;
}

#intro{
    background-color: ivory;
    float: left; 
    width: 100%; 
    font-size: 24px;
    padding: 5px;
    line-height: 130%;
}

#barn{
    float: left; 
    width: 23.25%; 
    padding: 5px;
    padding-top: 50px;
    line-height: 135%;
}

#p{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 95%; 
    -webkit-column-count:2; 
    -moz-column-count: 2; 
    column-count: 2; 
    -webkit-column-gap: 20px; 
    -moz-column-gap: 20px; 
    column-gap: 20px;
    position:relative;
    color: darkgray;
    font-size: 12px;
    line-height: 140%;
}

footer{
    width: 100%;
    height: 200px;
    background-color: gray;
}

