@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); 
@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    overflow: hidden;
}

body *:not(body) {
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #FF8A00;
    z-index: -100;
  }

.ImgSize10 {
    width: 10%;
    height: auto;
    display: inline-block;
  }

.ImgSize15 {
    width: 15%;
    height: auto;
    display: inline-block;
}

.ImgSize20 {
    width: 20%;
    height: auto;
    display: inline-block;
}
  
.ImgSize30 {
    width: 30%;
    height: auto;
    display: inline-block;
}
  
.show{
    display: block;
}
    
  /*채선*/
  .TitleCloud {
    position: absolute;
    height: auto;
    filter: drop-shadow(0px 0px 5px #247DFF);
    z-index: 1;
    cursor: pointer;
  }

  .TitleCloudAni{
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: TitleCloudAni;
  }

  /*수정필요*/
  @keyframes TitleCloudAni {
    0% {
        top: 50%;
        left: 10%;
    }
    12.5% {
        top: 20%;
        opacity: 1;
    }
    25% {
        left: 200px;
    }
    37.5% {
        top: 90%;
    }
    50% {
        top: 20%;
        left: 90%;
    }
    62.5% {
        top: 0px;
        opacity: 1;
    }
    75% {
        top: calc(50% - 75px);
    }
    87.5% {
        top: calc(100% - 150px);
        opacity: 1;
    }
    100% {
        top: calc(50% - 75px);
        left: 10%;
    }
}

  .BgCloud {
    position: absolute;
    width: 10%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

    /*수정하기*/
  .BgCloudAni{
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: BgCloudAni;
  }

  @keyframes BgCloudAni {
    0% {
        top: 100%;
        left: 110%; 
    }
    20% {
        top: calc(50% - 75px);
        left: -60%;
    }
    30% {
        top: calc(100% - 150px);
        left: -60%;
    }
    40% {
        top: calc(50% - 75px);
        left: 130%;
    }
    50% {
        top: 300px;
        left: 150%;
    }
    60% {
        top: calc(50% - 75px);
        left: -60%;
    }
    70% {
        top: calc(100% - 150px);
        left: -60%;
    }
    80% {
        top: calc(50% - 75px);
        left: 130%;
    }
    90% {
        top: calc(50% - 75px);
        left: 130%;
    }
    100% {
        top: 300px;
        left: 150%;
    }
  }

  /*수정하기*/
.ChaImg01{
    margin-top: 5%;
    display: block;
}

.ChaImg02{
  
    display: block;
}

.ChaImg03{
    position: relative;
    display: block;
}

.ChaTxt01{
    position: relative;
    display: block;
}

.ChaTxt02{
    position: relative;
    display: block;
}

.ChaTxt03{
    position: relative;
    display: block;
}

.BgBlue{
    background: linear-gradient(180deg, #FF8A00 50%,#4792FF 100%);
}

/*성훈*/
.SHTitle{
    display: inline-block;
    cursor: pointer;
}

.SHTitleAni{
    animation: blinkSH 2s infinite;
}
@keyframes blinkSH {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

.SHTitleAniPaused{
    animation: blinkSH 2s paused;
}

.SHImg01{
    position: absolute;
    display: none;
}

.SHImg02{
    position: absolute;
    display: none;
}

.SHImg03{
    position: absolute;
    display: none;
}

.SHImg04{
    position: absolute;
    display: none;
}

.SHTxt01{
    position: absolute;
    display: none;
}

.SHTxt02{
    position: absolute;
    display: none;
}

.SHTxt03{
    position: absolute;
    display: none;
}




/*수연*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.juice{
    display: none;
    pointer-events: none; 
    /* 이미지가 마우스 이벤트를 가로채지 않도록 함 */
}

.Reversejuice{
    display: none;
    pointer-events: none; 
    /* 이미지가 마우스 이벤트를 가로채지 않도록 함 */
}

.FollowImage{
    position: absolute;
}

.OrangeDrop {
    position: absolute;
}

.containerDrop{
    
}

.spmn{
    width: 5px;
    height: 5px;
    border: 0.1px solid transparent;
}

.smll{
    width: 10px;
    height: 10px;
    border: 0.4px solid transparent;
}

.medi{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}

.lar{
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
}

.DropPosition {
    position: absolute;
  }

.posdrop .posd {
    position: absolute;
}

.drop {
    border-radius: 50%;
    background-image: linear-gradient(#F7B420, #F7B420), 
    linear-gradient(100deg, #FCFCFC 0%,
    #245DA0 67%,
    #235B9E 68%,
    #134587 79%,
    #0A3879 90%,
    #073475 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
}

.drop2 {
    position: relative;
    left: calc();
    bottom: 500px;
    border-radius: 50%;
    background-image: linear-gradient(#C16B00, #C16B00), 
    linear-gradient(100deg, #FCFCFC 0%,
    #245DA0 67%,
    #235B9E 68%,
    #134587 79%,
    #0A3879 90%,
    #073475 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
}

.drop3 {
    position: relative;
    right: 70px;
    top: 20px;
    border-radius: 50%;
    background-image: linear-gradient(#7F3603, #7F3603), 
    linear-gradient(100deg,#FCFCFC 0%,
    #245DA0 67%,
    #235B9E 68%,
    #134587 79%,
    #0A3879 90%,
    #073475 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: inline-block;
}

.juicebox{
    width: 60px;
    height: 150px;
    background: linear-gradient(to top, #FBFBFB 0%, 
    #245DA0 67%,
    #235B9E 68%, 
    #134587 79%, 
    #0A3879 90%,
    #073475 100%);
    display: inline-block;
}

.greybox{
    width: 200px;
    height: 15px;
    background: linear-gradient(to right, #AEADB2 0%,#E0DFE5); 
    filter: blur(2px);
    -webkit-filter: blur(2px);
    display: inline-block;
}

.sytext{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 7px;
    line-height: 20px;
    display: inline-block;
    color: transparent;
    text-shadow: -0.5px -0.5px 0 white,
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;  
}

  /*지원*/

.jwtext{
    font-family: 'Arita-dotum-Medium';
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: -15;
    word-break: keep-all;
    color: white;
    display: inline-block;
    animation: typing 5s;
}

@keyframes typing{
    0% {
      width: 0%;
    }
    100% {
        width: 100%;
    }
}

.screen{
    mix-blend-mode: screen;
}

.overlay{
    mix-blend-mode: overlay;
}

.lumino{
    mix-blend-mode: luminosity;
}

/*환준*/